@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
:root {
  --primary: #0054a6;
  --accent: #f58220;
  --bg-light: #f8f9fb;
  --text-dark: #1a1a1a;
  --font: "Poppins", sans-serif;
}

body {
  margin: 0;
  font-family: var(--font);
  color: var(--text-dark);
  background: white;
}

h1,
h2,
h3 {
  margin: 0;
}
a {
  text-decoration: none;
}
